.signin-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    margin: 10px 0;
  }

  .signin-form {
    min-width: 30%;
  }

  .button-group {
    display: flex;
    justify-content: space-between;
  }
}
