html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  padding: 1.5rem 2.5rem;
  margin: 0;
  font-family: 'Noto Sans', 'Roboto', 'Segoe UI', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 480px) {
    padding: 0.5rem 1.5rem;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}
